name: Docker CI Pipeline

# Trigger this pipeline whenever code is pushed to the main branch
on:
  push:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker Image
        run: docker build -t my-flask-app .

      - name: Test Container Run
        run: |
          docker run -d -p 5000:5000 --name test-container my-flask-app
          sleep 5
          curl http://localhost:5000
